# Dependencies
node_modules/

# Web build output
www/
dist/

# Android build output
android/app/build/
android/.gradle/
android/local.properties

# IDE files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
